LOG_LEVEL=info
PORT=3001

DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=anxiaoxiong123!
DATABASE_NAME=explorer
DATABASE_CONNECTION_IDLE_TIMEOUT_MS=12000
DATABASE_CONNECTION_POOL_SIZE=100

REFER_DATABASE_HOST=localhost
REFER_DATABASE_USER=postgres
REFER_DATABASE_PASSWORD=anxiaoxiong123!
REFER_DATABASE_NAME=reffer
REFER_DATABASE_CONNECTION_IDLE_TIMEOUT_MS=12000
REFER_DATABASE_CONNECTION_POOL_SIZE=100

LRT_DATABASE_HOST=localhost
LRT_DATABASE_USER=postgres
LRT_DATABASE_PASSWORD=anxiaoxiong123!
LRT_DATABASE_NAME=nova-points-distribute
LRT_DATABASE_CONNECTION_IDLE_TIMEOUT_MS=12000
LRT_DATABASE_CONNECTION_POOL_SIZE=100

ADAPTER_INTERVAL=3600

POINTS_STATISTICAL_PERIOD_SECS = 3600
POINTS_PHASE1_START_TIME="2024-04-01 00:00:00"
POINTS_CANCEL_DEPOSIT_START_TIME="2024-4-15 00:00:00"
POINTS_EARLY_DEPOSIT_END_TIME = 2024-01-01 00:00:00
POINTS_PHASE1_END_TIME = "2025-01-01 00:00:00"
POINTS_STATISTICS_TVL_INTERVAL=7200